<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no">
  <title>Howler.js Audio Player</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form id="login-form" class="form-inline my-2 my-lg-0">
        <li class="nav-item active nlg-stuff">
          <label class="my-2" for="u_name">Username : </label>
        </li>
        <li class="nav-item active nlg-stuff">
          <input class="form-control ml-sm-2 px-0" type="text" id="u_name" name="u_name"></input>
        </li>
        <li class="nav-item active nlg-stuff">
          <label class="my-2" for="password">Password : </label>
        </li>
        <li class="nav-item active nlg-stuff">
          <input class="form-control ml-sm-2 px-0 " type="password" id="lgi-password" name="lgi_password"></label>
        </li>
        <button class="btn btn-outline-success my-2 my-sm-0 nlg-stuff" id="search-btn" type="submit" onclick="fireLogin()">Login</button>
      </form>
        <li class="nav-item active lgi-link">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item lgi-link">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown lgi-link">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item lgi-link">
          <a class="nav-link" href="#" onclick="hideLoggedInBtns()">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-3" id="search-text-field" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div id="whole-player">


    <!-- Top Info -->
    <div id="title">
      <span id="track"></span>
      <div id="timer">0:00</div>
      <div id="duration">0:00</div>
    </div>

    <!-- Controls -->
    <div class="controlsOuter">
      <div class="controlsInner">
        <div id="loading"></div>
        <div class="btn" id="playBtn"></div>
        <div class="btn" id="pauseBtn"></div>
        <div class="btn" id="prevBtn"></div>
        <div class="btn" id="nextBtn"></div>
      </div>
      <div class="btn" id="playlistBtn"></div>
      <div class="btn" id="volumeBtn"></div>
    </div>

    <!-- Progress -->
    <div id="waveform"></div>
    <div id="bar"></div>
    <div id="progress"></div>

    <!-- Playlist -->
    <div id="playlist">
      <div id="list"></div>
    </div>

    <!-- Volume -->
    <div id="volume" class="fadeout">
      <div id="barFull" class="bar"></div>
      <div id="barEmpty" class="bar"></div>
      <div id="sliderBtn"></div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="./js/howler.core.js"></script>
  <script src="./js/siriwave.js"></script>
  <script src="./js/player.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./js/navbar.js"></script>

</body>

</html>